@font-face{
    font-family: 'feitian';
    src:url('字魂飞天手书.ttf');
    font-weight:normal;
    font-style:normal;
}
@font-face{
    font-family: 'chenguang';
    src:url('字小魂辰光手书.ttf');
    font-weight:normal;
    font-style:normal;
}
@font-face{
    font-family: 'lanyu';
    src:url('字小魂玉兰手书.ttf');
    font-weight:normal;
    font-style:normal;
}